/Default
*.dll
log.txt
.settings
Thumbs.db
*.wav
*.ogg
*.mp3
*.o
*.png
Save*xml
/Release
/Debug/
*.swp
*.bak
DPOC/deps/ext
DPOC/deps/glew
DPOC/deps/lua*
DPOC/deps/SFML
DPOC/deps/glm
DPOC/deps/*.a
DPOC/deps/*.dll
