<config>
  <MUSIC_BATTLE>Music/Battle3.ogg</MUSIC_BATTLE>
  <MUSIC_VICTORY>Music/Victory1.ogg</MUSIC_VICTORY>
  <MUSIC_TITLE>Music/Intro.ogg</MUSIC_TITLE>
  <SOUND_CANCEL>Audio/Cancel1.wav</SOUND_CANCEL>
  <SOUND_USE_ITEM>Audio/Item2.wav</SOUND_USE_ITEM>
  <SOUND_SUCCESS>Audio/Success2.wav</SOUND_SUCCESS>
  <SOUND_EQUIP>Audio/Equip1.ogg</SOUND_EQUIP>
  <SOUND_ATTACK>Audio/attack.wav</SOUND_ATTACK>
  <SOUND_HIT>Audio/hit.wav</SOUND_HIT>
  <SOUND_ENEMY_HIT>Audio/enemy-hit.wav</SOUND_ENEMY_HIT>
  <SOUND_CRITICAL>Audio/Critical.wav</SOUND_CRITICAL>
  <SOUND_ESCAPE>Audio/Run.ogg</SOUND_ESCAPE>
  <SOUND_MISS>Audio/Evasion1.wav</SOUND_MISS>
  <SOUND_HEAL>Audio/blipp.wav</SOUND_HEAL>
  <SOUND_POISON>Audio/Poison.wav</SOUND_POISON>
  <SOUND_BUFF>Audio/Up.wav</SOUND_BUFF>
  <SOUND_DEBUFF>Audio/Down.wav</SOUND_DEBUFF>
  <SOUND_RECOVERY>Audio/Recovery3.wav</SOUND_RECOVERY>
  <SOUND_MOVEMENT>Audio/Movement.wav</SOUND_MOVEMENT>
  <SOUND_MESSAGE_INCREMENT>Audio/Test.wav</SOUND_MESSAGE_INCREMENT>
  <SOUND_SHOP>Audio/Shop.ogg</SOUND_SHOP>
  <SOUND_TRAP>Audio/Enter_Trap.wav</SOUND_TRAP>
  <SOUND_CHEST>Audio/Open1.wav</SOUND_CHEST>
  <SOUND_BATTLE>Audio/Fight1.wav</SOUND_BATTLE>
  <SOUND_FIELD_DAMAGE>Audio/Numbness2.wav</SOUND_FIELD_DAMAGE>
  <SOUND_DOOR>Audio/Close1.wav</SOUND_DOOR>
  <DEBUG_MODE>true</DEBUG_MODE>
  <DEBUG_SHOP>Copper Sword,Cure Potion,Apprentice Staff,Dagger,,,,,</DEBUG_SHOP>
  <DEBUG_BATTLE>Batty,,,,,</DEBUG_BATTLE>
  <MAX_LEVEL>30</MAX_LEVEL>
  <SOUND_SPELL>
  </SOUND_SPELL>
  <MUSIC_LEVELUP>
  </MUSIC_LEVELUP>
</config>